h1 {
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color:white;
  text-align: center;
}
h6 {
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color:white;
  text-align: center;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
p {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul {
  text-align: left;
  font-size: 20px;
  list-style-position: inside;
  color: white
}
a {
  font-size: 20px;
  color: lightskyblue;
}
section {
background-color: #000;
}
.box-set {
position: relative;
height: 2000px;
background: black;
}

